.form-wrapper {
  flex: 0 0 auto;
  width: 360px;
  margin: 0 auto;
  height: 95vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.form-title {
  font-size: var(--variant-extraRegular2);
  margin: 0;
  margin-bottom: 30px;
}
